<h3> Please register with App by Clicking the Button</h3>
<h4>NOTE: Giving all the permissions required by the app is mandatory  </h4>
<a href="/auth/facebook"><img src="login-with-facebook.png" width="154" height="22"></a> 
